.card{
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects{
    background-color: #6f07f3;
    color: aliceblue;
}
.projects .card{
 color: black;
}
.leetcode{
    background-color: rgb(92,233,185);
    color:black
}
.leetcode .card{
    color: black;
}
.about{
    background-color: #6f07f3;
    color: aliceblue;
    font-size: 1.25rem;
}
.contact{
    background-color: rgb(92,233,185);
    color: black;
}